<nav *ngIf="paginas.length>0">
    <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="{'disabled': paginador.first}" routerLinkActive="active">
            <a class="page-link bg-dark" [routerLink]="['/clientes/page',1]"> <span>&laquo;</span></a>
        </li>

        <li class="page-item" [ngClass]="{'disabled': paginador.first}">
            <a class="page-link bg-dark" [routerLink]="['/clientes/page',paginador.number]"><span>&lt;</span></a>
        </li>

        <li class="page-item" routerLinkActive="active" *ngFor="let p of paginas">
            <a class="page-link bg-dark" [routerLink]="['/clientes/page',p]">{{p}}</a>
        </li>

        <li class="page-item" [ngClass]="{'disabled': paginador.last}">
            <a class="page-link bg-dark" [routerLink]="['/clientes/page',paginador.number+2]"><span>></span></a>
        </li>

        <li class="page-item" [ngClass]="{'disabled': paginador.last}" routerLinkActive="active">
            <a class="page-link bg-dark" [routerLink]="['/clientes/page',paginador.totalPages]"
                routerLinkActive="router-link-active"><span>&raquo;</span></a>
        </li>
    </ul>
</nav>
