<div class="card border-dark  mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-dark">
        <h5 class="card-title">Listado de Clientes
            <button *ngIf="_auth.hasPerfil('ROLE_ADMIN')" routerLink="/clientes/form/nuevo" class="btn btn-sm btn-outline-secondary">Registrar</button>
        </h5>
        <div class="alert alert-info text-center" *ngIf="clientes.length===0">Agregue nuevos registros!</div>
        <table class="table table-hover table-dark text-center" *ngIf="clientes.length>0">
            <thead>
                <tr>
                    <th *ngIf="_auth.hasPerfil('ROLE_USER')">#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>F. Creación</th>
                    <th *ngIf="_auth.hasPerfil('ROLE_ADMIN')">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <!-- <td><button class=" btn btn-sm btn-primary" [routerLink]="['/clientes/ver',cliente.id]">{{cliente.id}}</button> </td> -->
                    <td *ngIf="_auth.hasPerfil('ROLE_USER')">
                        <img *ngIf="cliente?.foto" [src]="'http://localhost:8000/cliente/upload/'+cliente.foto"
                            (click)="abrirModal(cliente)" [alt]="cliente.nombre"
                            style="width: 50px;height: 50px;cursor: pointer;">
                        <img *ngIf="!cliente?.foto" [src]="'http://localhost:8000/img/no-u.jpg'"
                            (click)="abrirModal(cliente)" alt="Sin foto"
                            style="width: 50px;height: 50px;cursor: pointer;">
                    </td>
                    <td>{{cliente.nombre|uppercase}}</td>
                    <td>{{cliente.apellido|uppercase}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.createAt|date:'fullDate'}}</td>
                    <td *ngIf="_auth.hasPerfil('ROLE_ADMIN')">
                        <button class="btn btn-sm btn-primary mr-2"
                            [routerLink]="['/clientes/form',cliente.id]">Editar</button>
                        <button class="btn btn-sm btn-danger" (click)="delete(cliente)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <app-paginator *ngIf="paginator" [paginador]="paginator"></app-paginator>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>


<div class="modal fade" id="mdCliente" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" *ngIf="clienteSeleccionado">
                    {{clienteSeleccionado.nombre + ' ' + clienteSeleccionado.apellido}}.</h5>
                <button type="button" class="close" (click)="cerrarModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <app-detalle *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado"></app-detalle>


            </div>
        </div>
    </div>
</div>
